export BUILDKITE_TOKEN=changeme

export BUILDKITE_CONFIG_CONFIG_PATH=.
export BUILDKITE_CONFIG_RAILS_PATH=tmp/rails
export BUILDKITE_CONFIG_CONTEXT=./
export BUILDKITE_CONFIG_DOCKERFILE=./Dockerfile

